{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>فهرست مشتریان</title>
    <link rel="stylesheet" type="text/css" href="{% static "orderapp/css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "orderapp/css/font-awesome.css.css" %}">
    <link rel="stylesheet" type="text/css" href="/static/orderapp/css/main.css">
</head>
<body>
<h1>سامانه فروشگاه انلاین</h1>
{#<a href="/customer/list/">برو به لیست مشتریان</a>#}
<a href="{% url "CustomerList" %}">برو به لیست مشتریان</a>
<ul>

    {#    <li>#}
    {#        جواد جهانگیری#}
    {#    </li>#}
    {% if products %}
        <p style="color: green">
            تعداد محصولات:
            {{ products_count }}
            می باشد
        </p>
        {% for product in products %}
            <li>
                {{ product }}
            </li>
        {% endfor %}
    {% else %}
        <p style="color: red">
            محصولی هنوز تعریف نشده است
        </p>

    {% endif %}
</ul>
<script src=" {% static "orderapp/js/jquery-3.4.0.min.js" %}"></script>
<script src=" {% static "orderapp/js/bootstrap.bundle.js" %}"></script>
<script src=" {% static "orderapp/js/font-awesome.js" %}"></script>
<script src="/static/orderapp/js/main.js"></script>
</body>
</html>