{% extends "_basepage.html" %}
{% block title %}
مجتمع فنی ارومیه
{% endblock %}
{% block toolbar_title %}
    {{ block.super }} -
    صفحه اصلی
{% endblock %}

{% block main_content %}
<!-- featured
================================================== -->
<section class="s-featured">
    <div class="row">
        <div class="col-full">

            <div class="featured-slider featured" data-aos="zoom-in">
                {% for promote_product in promote_data %}
                    <div class="featured__slide">
                        <div class="entry">

                            <div class="entry__background"
                                 style="background-image:url('{{ promote_product.cover }}');"></div>

                            <div class="entry__content">
                                <span class="entry__category"><a href="#0">{{ promote_product.description }}</a></span>

                                <h1><a href="{% url 'productDetials' productid=promote_product.id %}"
                                       title="">{{ promote_product.title }}</a></h1>

                                <div class="entry__info">
                                    <a href="#0" class="entry__profile-pic">
                                        <img class="avatar" src="{{ promote_product.cover }}" alt="">
                                    </a>
                                    <ul class="entry__meta">
                                        <li><a href="#0">{{ promote_product.price }}</a></li>
                                        <li>{{ promote_product.create_at }}</li>
                                    </ul>
                                </div>
                            </div> <!-- end entry__content -->

                        </div> <!-- end entry -->
                    </div> <!-- end featured__slide -->

                {% endfor %}
            </div> <!-- end featured -->

        </div> <!-- end col-full -->
    </div>
</section> <!-- end s-featured -->


<!-- s-content
================================================== -->
<section class="s-content">

    <div class="row entries-wrap wide">
        <div class="entries">
            {% for product in product_data %}
                <article class="col-block">

                    <div class="item-entry" data-aos="zoom-in">
                        <div class="item-entry__thumb">
                            <a href="{% url 'productDetials' productid=product.id %}" class="item-entry__thumb-link">
                                {% if product.cover == '' %}
                                    <i class="far fa-10x fa-building text-muted"></i>
                                {% else %}
                                    <img src="{{ product.cover.url }}" alt="">
                                {% endif %}
                            </a>
                        </div>

                        <div class="item-entry__text">
                            <div class="item-entry__cat">
                                <a href="{% url 'productDetials' productid=product.id %}">{{ product.title }}</a>
                            </div>

                            <h1 class="item-entry__title"><a
                                    href="{% url 'productDetials' productid=product.id %}">{{ product.price }}
                                تومان </a></h1>

                            <div class="item-entry__date">
                                <a href="{% url 'productDetials' productid=product.id %}">{{ product.create_at }}</a>
                            </div>
                        </div>
                    </div> <!-- item-entry -->

                </article> <!-- end article -->

            {% endfor %}
        </div> <!-- end entries -->
    </div> <!-- end entries-wrap -->

    <div class="row pagination-wrap">
        <div class="col-full">
            <nav class="pgn" data-aos="fade-up">
                <ul>
                    <li><a class="pgn__prev" href="#0">قبل</a></li>
                    <li><a class="pgn__num" href="#0">۱</a></li>
                    <li><span class="pgn__num current">۲</span></li>
                    <li><a class="pgn__num" href="#0">۳</a></li>
                    <li><a class="pgn__num" href="#0">۴</a></li>
                    <li><a class="pgn__num" href="#0">۵</a></li>
                    <li><span class="pgn__num dots">…</span></li>
                    <li><a class="pgn__num" href="#0">۸</a></li>
                    <li><a class="pgn__next" href="#0">بعد</a></li>
                </ul>
            </nav>
        </div>
    </div>

</section> <!-- end s-content -->


{% endblock %}