<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>مجتمع فنی ارومیه</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/vendor.css">
    <link rel="stylesheet" href="/static/css/main.css">

    <!-- script
    ================================================== -->
    <script src="/static/js/modernizr.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body id="top">

<!-- preloader
    ================================================== -->
<div id="preloader">
    <div id="loader" class="dots-fade">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>


<!-- header
================================================== -->
<header class="s-header header">

    <div class="header__logo">
        <a class="logo" href="index.html">
            مجتمع فنی ارومیه
        </a>
    </div> <!-- end header__logo -->

    <a class="header__toggle-menu" href="#0" title="Menu"><span>منو</span></a>
    <nav class="header__nav-wrap">

        <h2 class="header__nav-heading h6">هدایت به</h2>

    <ul class="header__nav">
                <li><a href="{% url 'contact' %}" title="">تماس</a></li>
                <li><a href="{% url 'aboutme' %}" title="">درباره</a></li>
                <li>
                    <a href="{% url 'category' %}" title="">دسته بندی</a>
                </li>

              <li class="current"><a href="{% url 'index' %}" title="">خانه</a></li>
            </ul> <!-- end header__nav -->

        <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">بستن</a>

    </nav> <!-- end header__nav-wrap -->

</header> <!-- s-header -->


<!-- s-content
================================================== -->
<section class="s-content s-content--top-padding s-content--narrow">

    <div class="row narrow">
        <div class="col-full s-content__header">
            <h1 class="display-1 display-1--with-line-sep">با ما در تماس باشید</h1>
            <p class="lead">
                 افزایش سرعت تغییرات در تکنولوژی، نیاز به مهارت داشتن در تکنولوژی برای مولد بودن، بهینه‌سازی کردن، برنامه دار کردن و ابتکار در راه حل ها ضروری است. موسسه آموزشی مجتمع فنی ارومیه (شرکت پرنیان افکار ارومیه) همه مخاطبان را در طول فعالیت خود حمایت می‌کند.

افراد، تیم‌ها، سازمان‌ها و موسسات دولتی همه می‌توانند از رویکرد منحصر بفرد ما برای یادگیری عملی سود ببرند. در رویکرد موسسه آموزشی مجتمع فنی ارومیه ( شرکت پرنیان افکار ارومیه) برای ارتقای عملکرد، یادگیری عملی با فرصت رشد حرفه ای در همه مراحل کاری یک فرد، ترکیب می‌شود که در مدل موثر ما ریشه دارد.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-full s-content__main">
            <p>
                <img src="/static/images/thumbs/contact/contact-1000.jpg"
                     srcset="/static/images/thumbs/contact/contact-2000.jpg 2000w,
                             /static/images/thumbs/contact/contact-1000.jpg 1000w,
                             /static/images/thumbs/contact/contact-500.jpg 500w"
                     sizes="(max-width: 2000px) 100vw, 2000px" alt="">
            </p>

            <h2 style="text-align: right">سلام</h2>

            <p>
               موسسه آموزشی مجتمع فنی ارومیه (شرکت پرنیان افکار ارومیه) فعالیت خود را با مجوز رسمی از سازمان فنی و حرفه ای کشور در سال 1391 با هدف ارائه خدمات آموزشی در حوزه های مختلف و با تمرکز ویژه بر آموزش‌های استاندارد محور برای معرفی دانش پذیران به بازار کار آغاز نموده است. این شرکت از بدو تاسیس با بهره گیری از استانداردها و متدهای جدید و با پشتوانه تیم مجرب متشکل از اعضای هیات علمی دانشگاه‌های ارومیه، متخصصین با تجربه و کارشناسان ارشد حوزه آموزش، دوره های موفق متعددی را به مرحله اجرا درآورده است. این شرکت از ابتدای فعالیت و با اتکا به دانش، تخصص و تجربه تیم آموزشی خود توانسته است اجرای بیش از 500 دوره موفق برای ادارات، سازمان‌ها و شرکت‌های خصوصی و نیمه خصوصی را براساس آخرین استانداردهای علمی و فنی روز در حوزه آموزش کارکنان در کارنامه خود به ثبت رسانده است.
            <p>
              افرادی که دنبال شغل جدید، ارتقا در کار، موقعیت دانشگاهی و یا در حال شروع یک کسب و کار جدید هستند، موسسه آموزشی مجتمع فنی ارومیه ( شرکت پرنیان افکار ارومیه) را جهت تحقق اهدافشان انتخاب می‌کند.
            </p>


            <div class="row">
                <div class="col-six tab-full">
                    <h4 style="text-align: right;">ادرس ما</h4>

                    <p>
                        ارومیه، خیابان جانبازان ( استاد برزگر)، نبش کوی 16 جانبازان، مجتمع فنی ارومیه (شرکت پرنیان افکار ارومیه)
                    </p>

                </div>

                <div class="col-six tab-full">
                    <h4 style="text-align: right">اطلاعات تماس</h4>

                    <p>https://www.aparat.com/javadjahangiriniopdc<br>
                        تلفن تماس: 04432253311   -    04432253355<br>
                        شماره موبایل:09149431772 - 09141491334
                    </p>

                </div>
            </div>

        </div> <!-- s-content__main -->
    </div> <!-- end row -->

</section> <!-- end s-content -->


<!-- s-footer
================================================== -->
<footer class="s-footer">

    <div class="s-footer__main">
        <div class="row">

            <div class="col-six tab-full s-footer__about">

                 <h4>مجتمع فنی ارومیه</h4>

                    <p>دوره های تخصصی شبکه و برنامه نویسی و طراحی سایت </p>


            </div> <!-- end s-footer__about -->

            <div class="col-six tab-full s-footer__subscribe">

                <h4>ارتباط صنعت با دانشگاه</h4>

                <p>مجتمع فنی ارومیه همیشه پیشرو</p>

                <div class="subscribe-form">
                    <form id="mc-form" class="group" novalidate="true">

                        <input type="email" value="" name="EMAIL" class="email" id="mc-email"
                               placeholder="Email Address" required="">

                        <input type="submit" name="subscribe" value="ارسال">

                        <label for="mc-email" class="subscribe-message"></label>

                    </form>
                </div>

            </div> <!-- end s-footer__subscribe -->

        </div>
    </div> <!-- end s-footer__main -->

    <div class="s-footer__bottom">
        <div class="row">

            <div class="col-six">
                <ul class="footer-social">
                    <li>
                        <a href="#0"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-youtube"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-pinterest"></i></a>
                    </li>
                </ul>
            </div>

            <div class="col-six">
                <div class="s-footer__copyright">
                        <span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i
                                    class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
                                                                                      target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</span>
                </div>
            </div>

        </div>
    </div> <!-- end s-footer__bottom -->

    <div class="go-top">
        <a class="smoothscroll" title="Back to Top" href="#top"></a>
    </div>

</footer> <!-- end s-footer -->


<!-- Java Script
================================================== -->
<script src="/static/js/jquery-3.2.1.min.js"></script>
<script src="/static/js/plugins.js"></script>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="/static/js/main.js"></script>

</body>

</html>
